<section class="bg-primary"  id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We're the Dutch Lean Startup Circle.</h2>
                <hr class="light">
                <p class="text-faded">We organize meetups, workshops and learning sessions about Lean Startup. We're part of the global Lean Startup Circle movement.</p>
                <hr>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=OdmBd3Rxzq8" target="_blank" class="portfolio-box">
                    <img src="img/assets/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Meetups
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.meetup.com/LeanStartupNL/photos/" target="_blank" class="portfolio-box">
                    <img src="img/assets/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Workshops
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=vey5yP0NvbM" target="_blank" class="portfolio-box">
                    <img src="img/assets/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Playing Lean
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=1ACQ7TEwgos" class="portfolio-box">
                    <img src="img/assets/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                LeanCamp
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=Cq4hTVZJAJY" class="portfolio-box">
                    <img src="img/assets/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Weekend Events
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.meetup.com/LeanStartupNL/photos/" target="_blank"  class="portfolio-box">
                    <img src="img/assets/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Mixers
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="team">
    <div  class="container text-center ">
              <h2 class="section-heading">Our Team</h2>
              <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box ">
                        <img class="img-responsive img-circle service-box-img150"  src="img/assets/headshot_leon.jpg"></img>
                        <h3>Leon Pals</h3>
                        <p class="text-muted">Chairman of the Startup Foundation, an independent non-profit which supports startups and its founders by facilitating knowledge exchange.<br> </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box ">
                      <img class="img-responsive img-circle service-box-img150" src="img/assets/headshot_robbert.jpg"></img>
                      <h3>Robbert van Geldrop</h3>
                      <p class="text-muted">Partner at Firmhouse and founder of Dutch Lean Startup Circle.  He applied many of the techniques in his company BackupAgent which he sold to Acronis in 2014.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box ">
                        <img class="img-responsive img-circle service-box-img150" src="img/assets/headshot_otto.jpg"></img>
                        <h3>Otto Freijser</h3>
                        <p class="text-muted">Owner of Perpetulon and helps organizations build nurturing ecosystems for game-changing innovation.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box ">
                      <img class="img-responsive img-circle service-box-img150" src="img/assets/headshot_bob.jpg"></img>
                      <h3>Bob Jansen</h3>
                      <p class="text-muted">Co-founder of Firmhouse & streetphotographer. Helps people launch startups and new businesses.</p>
                    </div>
                </div>
              </div>
              <div class="row" style="padding-bottom:30px;"/>
    </div>
    <div class="container-fluid bg-primary">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr>
                <h2 class="section-heading">What participants have to say:</h2>
                <hr class="light">
                <div class="row row-padding ">
                  <div class="col-md-2">
                    <div class="service-box vcenter">
                      <img class="img-responsive img-circle service-box-img100"  src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/005/06c/2af/2b0a25a.jpg">
                    </div>
                  </div>
                  <div class="col-md-10">
                    <br>
                    <p class="text-shadow"><i>“Bolt Mobility has been a Dutch Lean Startup from day one. We even met as co-founders on one of their meetups!”</i> - Bart Jacobsz Rosier, Bolt Mobility<p>
                  </div>
                </div>
                <div class="row row-padding">
                  <div class="col-md-2">
                    <img class="img-responsive img-circle service-box-img100" src="https://media.licdn.com/media/p/4/000/12f/2dc/1fd6de1.jpg">
                  </div>
                  <div class="col-md-10">
                    <br>
                    <p class="text-shadow"><i>“We’ve been working closely with the Dutch Lean Startup Circle since the day we founded Rockstart. Thanks to them we learned about how Lean Startup can be a core item for managing our accelerator.”</i> - Don and Rune, Rockstart<p>
                  </div>
                </div>
                <div class="row row-padding">
                  <div class="col-md-2">
                    <img class="img-responsive img-circle service-box-img100" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/2/005/060/2bc/31a82c8.jpg">
                  </div>
                  <div class="col-md-10">
                    <br>
                      <p class="text-shadow"><i>“We presented and attended at several meetups of the Dutch Lean Startup Circle. It’s always a source of inspiration and a good place to meet other startup founders.”</i> - Joshua and Egbert, Klets<p>
                  </div>
                </div>
                <div class="row row-padding">
                  <div class="col-md-2">
                    <img class="img-responsive img-circle service-box-img100" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/4/000/15e/04d/094dbe5.jpg">
                  </div>
                  <div class="col-md-10">
                    <br>
                    <p class="text-shadow"><i>“YES!Delft has been a host for the Dutch Lean Startup meetups since the start, which is a great way for us to expand our community of entrepreneurs and talk about what really matters: how to validate a business idea as efficiently as possible!”</i> - Raffi Balder, YES!Delft<p>
                  </div>
                </div>
                <div class="row row-padding">
                  <div class="col-md-2">
                    <img class="img-responsive img-circle service-box-img100" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAUTAAAAJDM5YmVhZTViLTVlOWMtNDZhYi05ODk4LTJhZDIzNTQwMjQxMQ.jpg">
                  </div>
                  <div class="col-md-10">
                    <br>
                    <p class="text-shadow"><i>“I attended one of the first meetups of the Dutch Lean Startup Circle, which served as an accelerator for our business. We are a Dutch Lean Startup!”</i> - Thijs Sprangers, LiveOnDemand<p>
                    </div>
                </div>
              </div>
        </div>
    </div>
</section>
