  <aside class="bg-dark">
      <div class="container text-center">
                <h2 class="section-heading">Our Partners</h2>
                <div class="row">
                  <div class="col-lg-3 col-md-6 text-center">
                      <div class="service-box vcenter">
                          <img style="height:120px;"  src="/img/assets/sf-logo.png"></img>
                      </div>
                      <h3>Startup Foundation</h3>
                      <p class="text-muted">Connecting founders with each other and their knowledge, globally.</p>
                  </div>
                  <div class="col-lg-3 col-md-6 text-center">
                      <div style="padding-top:40px;padding-bottom:34px" class="service-box vcenter">
                        <img src="/img/assets/fh-logo-white.png"></img>
                      </div>
                      <h3>Firmhouse</h3>
                      <p class="text-muted">Firmhouse builds companies. We take ideas to first traction & revenue.</p>
                  </div>
                  <div class="col-lg-3 col-md-6 text-center">
                      <div class="service-box vcenter" style="padding-top:20px;padding-bottom:20px" >
                        <img style="height:80px;"  src="/img/assets/lod-logo.jpg"></img>
                      </div>
                      <h3>Live on Demand</h3>
                      <p class="text-muted">Inspiration on demand. Crowdfund your favorite speaker</p>
                  </div>
                  <div class="col-lg-3 col-md-6 text-center">
                      <div  style="padding-top:40px;padding-bottom:42px;" class="service-box vcenter" style="vertical-align: middle;">
                          <img style="width:160px; vertical-align: middle;"  src="/img/assets/source-logo.png"></img>
                      </div>
                      <h3>Source Institute</h3>
                      <p class="text-muted">Peer-to-peer education for technology founders</p>
                  </div>
                </div>
        <div class="call-to-action" >
            <hr>
            <p>Through the years we've become experts at conveying knowledge effectively from experienced entrepreneurs to first-timers.</p>
            <a href="#contact" class="btn btn-default btn-xl wow tada">Contact us</a>
        </div>
      </div>
  </aside>
