<section id="blog">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
              <h2 class="section-heading">We blog on these outlets:</h2>
              <div class="row">
                <div class="col-sm-4 col-sm-offset-2 text-center">
                  <a href="http://www.sprout.nl/artikel/lean-startup" target="_blank"><img src="img/assets/sprout-logo.png"></a>
                </div>
                <div class="col-sm-4 text-center">
                  <a href="http://firm.builders" target="_blank"><img src="img/assets/fh-logo.png"></a>
                </div>
              </div>
            </div>
      </div>
      <div class="row">
          <p class="text-center">Articles, case-studies and premium content directly in your inbox.</p>

          <form class="form-group" action="http://digest.leanstartup.nl/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4  text-center">
              <input class="form-control revue-form-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email" required />
            </div>
          </div>
          <div class="row" style="padding-top:15px;">
            <div class="col-sm-4 col-sm-offset-4  text-center">
              <div class="revue-form-actions">
                <input class="btn btn-primary btn-xl wow tada" type="submit" value="Subscribe" name="member[subscribe]" id="member_submit" />
              </div>
            </div>
          </div>
          </form>
      </div>
  </div>
</section>
