<section class="bg-primary" id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="section-heading">Get In Touch!</h2>
                <hr class="primary">
                <p>Were here to help! Contact us and we will get back to you as soon as possible!</p>
                <form class="form-group" action="https://formbox.es/3TCq3CHWf9brvgA7nacQtTBJ" method="POST">
            </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="row" style="padding-top:15px;">
                  <div class="col-sm-6 col-sm-offset-3 text-center ">
                    <input class="form-control" type="text" name="name" placeholder="Your name..." required/>
                  </div>
                </div>
                <div class="row" style="padding-top:15px;">
                  <div class="col-sm-6 col-sm-offset-3 text-center ">
                    <input class="form-control" type="text" name="email" placeholder="Your email address..." required/>
                  </div>
                </div>
                <div class="row" style="padding-top:15px;">
                  <div class="col-sm-6 col-sm-offset-3  text-center ">
                    <textarea class="form-control" rows="3" name="question" placeholder="Your question..."></textarea>
                  </div>
                </div>
                <div class="row" style="padding-top:15px;">
                  <div class="col-sm-4 col-sm-offset-4  text-center">
                    <button class="btn btn-default btn-xl wow tada" name="button" type="submit">Submit</button>
                  </div>
                </div>
                </form>
            </div>
          </div>
    </div>
</section>
