<header>
  <section id="events" >
    <div class="header-content">
        <div style="padding-top:60px;" class="header-content-inner">
            <h1>Get practical help with Lean Startup</h1>
            <hr>
            <p>Trade stories, tips, and tricks about what really works and what doesn't from other practitioners. Our meetups and events are organized in collaboration with location sponsors. The meetups take place in the cities of Amsterdam, Delft, Rotterdam, Utrecht Eindhoven and Wageningen.</p>
            <div class="col-lg-8 col-lg-offset-2 text-left row-padding">
              <div id="groups"></div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </div>
  </section>
</header>
