<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Services</h2>
                <p>Our team has helped hundreds of startup founders, accelerators, event organizers and corporate innovators to make sense of Lean Startup. We've built an active community of 1500 people across the Netherlands.<p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Experts</h3>
                    <p class="text-muted">Source key-note speakers for your event. Find mentors, experts and facilitators.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-university wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Workshops</h3>
                    <p class="text-muted">Teach your community about Lean Startup. Real learning from real practitioners.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Global Network</h3>
                    <p class="text-muted">Join 80,000+ members. Connect with the worldwide community to tackle real problems.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Community</h3>
                    <p class="text-muted">Trade stories, tips, and tricks about what really works and what doesn't.</p>
                </div>
            </div>
        </div>
    </div>
</section>
